<section class="w-100 p-4 d-flex justify-content-center pb-4" style="margin-top: 2.5%">
  <form style="width: 22rem;" (ngSubmit)="performForgotPassword()" [formGroup]="forgotPasswordForm">
    <h1>Forgot password</h1>
    <p>Enter your email address to receive a password reset mail.</p>
    <div style="margin-top: 15%">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input formControlName="email" type="email" id="email-input" class="form-control">
        <label class="form-label" for="email-input" style="margin-left: 0px;">Email</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>


      <div style="text-align: center; color: red; padding-bottom: 5px" *ngIf="errorMessage !== null">
        <i style="color: red" class="bi bi-exclamation-circle-fill"></i>
        {{errorMessage}}
      </div>

      <!-- Register buttons -->
      <div class="text-center">
        <div style="text-align: center; color: red; padding-bottom: 5px" *ngIf="message !== null">
          {{message}}
        </div>
      </div>

      <!-- Submit button -->
      <button [disabled]="!forgotPasswordForm.valid" type="submit" class="btn btn-primary btn-block mb-4">Send</button>

    </div>
  </form>
</section>


