<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/favicon-32x32.png" alt="The logo of the website" width="30"
           height="30" class="d-inline-block align-text-top"> Project Asterisk
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about">Some</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about">More</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about">Links!</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button *ngIf="!_authenticationService.isLoggedIn(); else showLogout" type="button" class="btn btn-primary"
                routerLink="/login">Login</button>
        <ng-template #showLogout>
          <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="bi bi-person" style="padding-right: 2.5%"></i>{{this._authenticationService.getUsername()}}</button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-person-circle"
                                                                      style="padding-right: 2.5%"></i>Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="." (click)="logout()"><i class="bi bi-arrow-right-square"
                                                                                  style="padding-right: 2.5%"></i>Logout</a></li>
              </ul>
          </div>
        </ng-template>
      </span>
    </div>
  </div>
</nav>
