<section class="w-100 p-4 d-flex justify-content-center pb-4" style="margin-top: 2.5%">
  <form style="width: 22rem;" (ngSubmit)="performRegister()" [formGroup]="registerForm">
    <h1>Register</h1>
    <p>Create a new account.</p>
    <hr>

    <div style="margin-top: 15%">

      <!-- First name input -->
      <div class="form-outline mb-2">
        <input formControlName="firstName" type="text" id="first-name-input" class="form-control">
        <label class="form-label" for="first-name-input" style="margin-left: 0px;">*First name</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>

      <!-- Last name input -->
      <div class="form-outline mb-2">
        <input formControlName="lastName" type="text" id="last-name-input" class="form-control">
        <label class="form-label" for="last-name-input" style="margin-left: 0px;">*Last name</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-2">
        <input formControlName="username" type="text" id="username-input" class="form-control">
        <label class="form-label" for="username-input" style="margin-left: 0px;">*Username</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-2">
        <input formControlName="email" type="email" id="email-input" class="form-control">
        <label class="form-label" for="email-input" style="margin-left: 0px;">*Email address</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-2">
        <input formControlName="password" type="password" id="password-input" class="form-control">
        <label class="form-label" for="password-input" style="margin-left: 0px;">*Password</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 64px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-2">
        <div class="col">
          <p>* mandatory fields</p>
        </div>
      </div>

      <div style="text-align: center; color: red; padding-bottom: 5px" *ngIf="errorMessage !== null">
        <i style="color: red" class="bi bi-exclamation-circle-fill"></i>
        {{errorMessage}}
      </div>

      <!-- Submit button -->
      <button [disabled]="!registerForm.valid"  type="submit" class="btn btn-primary btn-block mb-2">Sign up</button>

      <hr>


      <!-- Register buttons -->
      <div class="text-center">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </div>
  </form>
</section>

