<section class="w-100 p-4 d-flex justify-content-center pb-4" style="margin-top: 2.5%">
  <form style="width: 22rem;" (ngSubmit)="performPasswordChange()" [formGroup]="changePasswordForm">
    <h1>Change your password</h1>
    <p>Enter your new password below.</p>
    <div style="margin-top: 15%">
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input formControlName="password" type="password" id="password-input" class="form-control">
        <label class="form-label" for="password-input" style="margin-left: 0px;">Password</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input formControlName="passwordConfirmation" type="password" id="password-confirmation-input" class="form-control">
        <label class="form-label" for="password-confirmation-input" style="margin-left: 0px;">Password confirmation</label>
        <div class="form-notch">
          <div class="form-notch-leading" style="width: 9px;"></div>
          <div class="form-notch-middle" style="width: 88.8px;"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>


      <div style="text-align: center; color: red; padding-bottom: 5px" *ngIf="errorMessage !== null">
        <i style="color: red" class="bi bi-exclamation-circle-fill"></i>
        {{errorMessage}}
      </div>

      <!-- Submit button -->
      <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-primary btn-block mb-4">Reset</button>

    </div>
  </form>
</section>


