<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Forgot Password Request</title>
</head>
<body>
<p th:text="${'Hello ' + username}"></p>
<p>If you forgot your password and requested a reset email at <a target="_blank" href="http://localhost:4200/forgot-password">Forgot password</a>
you can find the below link to perform a password reset</p>

<a th:text="${link}"></a>

<p>You can ignore this email if you did not request such an email.</p>

<p>Best regards<br></p>
<p>The Asterisk Team</p>
</body>
</html>